<div class="editor-field" contenteditable="true"
     #textarea
     [mention]="allUsers"
     [mentionConfig]="{labelKey: 'name'}"
     (itemSelected)="onItemSelected($event)"
     (closed)="onClosed()"
>
  <ng-container *ngFor="let item of comments; let index">
    <span *ngIf="item.type === 'text'">{{item.content + ' '}}</span>
    <ng-container *ngIf="item.type === 'mention'">
      <span class="chip">@{{item.content}}</span>
    </ng-container>
  </ng-container>
</div>

<span class="chip">hello</span>
